### Variables

In [6]:
# create a variable
a = '100.5'
print(a)

100.5

In [7]:
# every print statement prints to new line
print('Hi')
print('Hello')

Hi
Hello

In [8]:
# check data type of a variable
type(a)

str

In [10]:
# Assign multiple values to multiple variables
a=5;b=4;c=7

In [11]:
# try printing a or b or c
print(a)

5

In [13]:
# another way
a, b, c = 10, 20, 30

In [14]:
# try printing a or b or c
b

20

In [15]:
# Assign same value to multiple variables
a=b=c=5

In [17]:
b

5

In [18]:
#python is case sensitive
New=80
new=70

In [19]:
new

70

In [20]:
New

80

In [21]:
counter = 100       # An integer assignment
miles = 1000.0      # A floating point
name = "John"       # A string
d=True
e=5+4j


print(counter)
print(miles)
print(name)
print(d)
print(e)

100
1000.0
John
True
(5+4j)

In [22]:
print(type(counter))
print(type(miles))
print(type(name))
print(type(d))
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

## Keywords

All the keywords except True, False and None are in lowercase and they must be written as they are.

The list of all the keywords is given below.

False	await	else	import	pass

None	break	except	in	raise

True	class	finally	is	return

and	continue	for	lambda	try

as	def	from	nonlocal	while

assert	del	global	not	with

async	elif	if	or	yield

## Input-Output

In [29]:
a = 10
print(a)

10

In [30]:
a = 10
print("The value of a is:",a)

The value of a is: 10

In [31]:
print("{} is a value of a".format(a))

10 is a value of a

In [ ]:
a = 10
b = 20
print('{} is a value of a and {} is a value of b'.format(a,b))

In [33]:
print("welcome")
print("to all")

welcome
to all

In [32]:
# with end parameter end =''
print("welcome",end=' ')
print("to all")

welcome to all

In [34]:
a = input()

10

In [35]:
a

'10'

In [36]:
a=input("Enter the value of a: ")
b=input("Enter the value of b: ")
c=a+b
print(c)

Enter the value of a: 10
Enter the value of b: 20
1020

In [37]:
a=int(input("Enter the value of a: "))
b=int(input("Enter the value of b: "))
c=a+b
print(c)

Enter the value of a: 10
Enter the value of b: 20
30

In [ ]:
a=input("Enter the value of a: ")
print(type(a))
b=input("Enter the value of b: ")
print(type(b))
a = int(a)
print(type(a))
b = int(b)
print(type(b))
c=a+b
print(c)

In [ ]:
# split() method to write multiple imputs in a single line
v1=input().split(',')
print(v1)

In [ ]:
type(v1)

In [ ]:
var=input("enter two inputs").split(' ')

In [ ]:
var

In [ ]:
str1 =  "10 20"
str1.split()

In [ ]:
var1,var2=input().split()

In [ ]:
var1

In [ ]:
var2

In [ ]:
a = input().split('a')
a

In [ ]:
#Display float number with 2 decimal places using print()
a3=float(input())
print(round(a3,2))

## Multiline Statement in Python

In [38]:
# Statements of python ends with new line character
#MultiLine Statement in python
#another way of creating variable 
a,b,c=10,20,30

total = a + \
b + \
c


# total = a + b + c
print(total)

60

## Strings In Python

In [39]:
#Python accepts single ('), double (") and triple (''' or """) quotes
# to denote string literals, as long as the same type of quote starts and ends
# the string.
#The triple quotes are used to span the string across multiple lines. 
#For example, all the following are legal:


word = 'word'
sentence = "This is a sentence."
paragraph = """This is a paragraph.
It is made up of multiple lines and sentences."""
print(word, sentence, paragraph)

word This is a sentence. This is a paragraph.
It is made up of multiple lines and sentences.

In [40]:
print(type(word))
print(type(sentence))
print(type(paragraph))

<class 'str'>
<class 'str'>
<class 'str'>

## Arithmetic Operators

In [41]:
a = 2
b = 15
c = 0

In [42]:
c = a + b
print ("Addition of a and b is: ", c)

Addition of a and b is:  17

In [43]:
c = a - b
print ("Subtraction of a and b is: ", c)

Subtraction of a and b is:  -13

In [ ]:
c = a * b
print ("Multiplication of a and b is: ", c)

In [ ]:
c = a / b
print ("Division of a and b is: ", c)

In [44]:
num1 = 155
num2 = 10
c = num1 / num2
print ("Division of num1 and num2 is: ", c)

Division of num1 and num2 is:  15.5

In [46]:
## floor division
num1 = 158
num2 = 10
c = num1 // num2
print ("Division of num1 and num2 is: ", c)

Division of num1 and num2 is:  15

In [49]:
c = b % a
print ("Modulus of a and b is: ", c)

Modulus of a and b is:  1

In [50]:
c = 10 ** 5
print ("Exponent of a and b is: ", c)

Exponent of a and b is:  100000

In [51]:
# possible
a = 10
b = 20.5
print(a + b)

30.5

In [52]:
# not possible
a = 10
b = 'string1'
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Indentation and comment

It is a code block (body of a function, loop, etc.) starts with indentation.
Generally, four whitespaces are used for indentation and are preferred over tabs.

Comment: A Python comment is a line of text that appears in a program but is not executed by the program.

In [ ]:
a, b = 20, 50
if a > b:
    print('Hi')
print('Done')

## Relational Operators

In [57]:
a = 10
b = 10

In [56]:
a==b

False

In [58]:
if a == b:
    print('hi')
else:
    print('hello')

hi

In [59]:
if a == b:
    print('a and b are equal')
else:
    print('they are not equal')

a and b are equal

In [ ]:
if (a == b):
    print ("a is equal to b")
else: 
    print ("a is not equal to b")

In [ ]:
if ( a != b ):
    print ("a is not equal to b")
else:
    print ("a is equal to b")

In [ ]:
if ( a < b ):
    print ("a is less than b")
else:
    print ("a is not less than b")

In [ ]:
if ( a > b ):
    print ("a is greater than b")
else:
    print ("a is not greater than b")

In [ ]:
if ( a <= b ):
    print ("a is either less than or equal to b")
else:
    print ("a is neither less than nor equal to b")

In [ ]:
if ( b >= a ):
    print ("b is either greater than or equal to b")
else:
    print ("b is neither greater than nor equal to b")

In [60]:
# simple demo of return value by == operator

a=0
b=10
x=(a==0)
y=(b==100)
print("X is: ",x) 
print("Y is: ",y)

X is:  True
Y is:  False

In [62]:
a = 100
a = a + 1
print(a)

101

## Logical Operators

In [63]:
print(True and True)
print(True and False)
print(False and False)
print(True and None)
print(False and None)

True
False
False
None
False

In [64]:
print(True or True)
print(True or False)
print(False or False)
print(True or None)
print(False or None)

True
True
False
True
None

In [65]:
print(not True)
print(not False)
print(not None)

False
True
True

## Bitwise Operators

In [70]:
print(2 & 4)  ## 10 & 100  --> 000
print(10 & 11) ## 1010 & 1011 --> 1010

0
10

In [71]:
print(5 | 6)  ## 101 | 110 -->111
print(10 | 16) ## 1010 & 10000 --> 11010

7
26

In [72]:
print(~8) ## ~1000 -> 11001 (-1-8)

-9

In [73]:
print(5 ^ 6) ## 101 ^ 110 --> 011

3

In [76]:
print(5>>1) ## 101 --> 0010

2

In [78]:
print(10<<2) ## 1010 --> 10100

40

## Ternary Operator

In [ ]:
a, b = 20, 30
large = a if a>b else b
print(large)

## Membership Operators

In [79]:
list1 = [1, 2, 3, 4, 5 ]
a = 1
if ( a in list1):
    print ("a is present in list1")
else:
    print ("a is not present in list1")

a is present in list1

In [80]:
'10' in '100'

True

In [81]:
'101' in '1000'

False

In [82]:
10 in 100

TypeError: argument of type 'int' is not iterable

In [ ]:
a = 1
if ( a in list1):
    print ("a is present in list1")
else:
    print ("a is not present in list1")

In [ ]:
a in list1

In [ ]:
b = 5
if b not in list1:
    print ("b is not present in list1")
else:
    print ("b is present in list1")

In [ ]:
b = 50
if ( b not in list1):
    print ("b is not present in list1")
else:
    print ("b is present in list1")

In [83]:
('d' in 'Deloitte') and ('D' in 'Deloitte')

False

In [ ]:
# 'd' in 'deloitte' 

# 10 in 20
str = 'str'
str in 'string'

## Identity Operators

In [84]:
a = 20
b = 20
c = 200

In [85]:
id(a)

2197738908560

In [86]:
id(b)

2197738908560

In [87]:
id(c)

2197739102864

In [88]:
a is b

True

In [89]:
a is c

False

In [90]:
a is not b

False

In [91]:
a is not c

True

In [ ]:
if (a is b):
    print ("a and b are equal")
else:
    print ("a and b are not equal")

In [ ]:
if (id(a) == id(b)):
    print ("a and b have same identity")
else:
    print ("a and b do not have same identity")

In [ ]:
if ( a is c ):
    print ("a and c have same identity")
else:
    print ("a and c do not have same identity")

In [ ]:
if ( a is not c ):
    print ("a and c do not have same identity")
else:
    print ("a and c have same identity")

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
# l2 = [3, 2, 1]
print(l1 is l2)

In [ ]:
id(l1)

In [ ]:
id(l2)

In [ ]:
s1 = {1, 2, 3}
s2 = {1, 2, 3}
# s2 = {3, 2, 1}
print(s1 is s2)

## PRECEDENCE

- P – Parentheses
- E – Exponentiation
- M – Multiplication     (Multiplication and division have the same precedence)
- D – Division
- A – Addition     (Addition and subtraction have the same precedence)
- S – Subtraction

In [92]:
a = (3**2 + 5 * (20/5) * 4) - 10

In [93]:
a

79.0