### Data Structures

         - Lists
    
         - Tuple
        
         - Dictionary
            
         - Set

#### Data Structures in Python
##### Lists

An ordered sequence of values enclosed within [ ].

- List can be created by [ ] or list()

- Lists are mutable : Can do changes

-  List can contain multiple data types

- Lists are iterables

In [1]:
# Create an empty list
l1 = []

l2 = list()

In [2]:
print(type(l1))
print(type(l2))

<class 'list'>
<class 'list'>

In [3]:
# create a list with int data types
l2 = [1, 2, 3, 4, 5, 6]
print(l2)

[1, 2, 3, 4, 5, 6]

In [4]:
# create a list with string data type 
l3 = ['aaa', 'bbb', 'ccc']
print(l3)

['aaa', 'bbb', 'ccc']

In [5]:
# create a list with mixed data types
l4 = [1, 2, 11.4, 'abc']
print(l4)

[1, 2, 11.4, 'abc']

In [6]:
# Lists are mutable
# change the value '5' into '0' in the list ls3
ls3=[5, 6.5, 'age', True]
print('before update: ', ls3)
ls3[0] = 0
print('after update: ', ls3)

before update:  [5, 6.5, 'age', True]
after update:  [0, 6.5, 'age', True]

In [ ]:
# Extract 'age' from the list ls3
ls3[2]

In [ ]:
# Extract 'e'  from the list ls3
ls3[2][2]

In [7]:
list1 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [8]:
len(list1)

10

In [9]:
# get first element
list1[0]

10

In [10]:
# get last element
list1[-1]
# list1[len(list1)-1]

100

In [11]:
# get first 5 elements
# list1[0:5]
list1[:5]

[10, 20, 30, 40, 50]

In [12]:
# get last 5 elements
list1[-5:]

[60, 70, 80, 90, 100]

In [ ]:
# get 3rd, 4th, and 5th elements
list1[2:5]

In [ ]:
list1[5:]

In [ ]:
# all the elements from even indices
list1[::2]

In [ ]:
# all the elements from odd indices
list1[1::2]

In [ ]:
ls4= [25, 31, [3, 4], -5]
# extract [3, 4] from the list ls4.
ls4[2]

In [13]:
first=[2, 34, 5, [56, 81, [43, 89], 67], 10]

In [ ]:
# extract 89

In [ ]:
# extract 67

In [ ]:
# extract 56

In [14]:
# extract 81, 67
first[3][1::2]

[81, 67]

In [16]:
#extend
newlist1=[1, 2, 3]
newlist2=[4, 5, 6]
newlist1.extend(newlist2)
print(newlist1)
print(newlist2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [17]:
print(newlist1)
another_list = newlist1 + [4, 10, 50]
print(another_list)
print(newlist1)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 4, 10, 50]
[1, 2, 3, 4, 5, 6]

In [18]:
# append
newlist3=[6, 7, 8]
newlist4=[9, 10]
newlist3.append(newlist4)
newlist3

[6, 7, 8, [9, 10]]

In [19]:
newlist3.append(100)

In [20]:
newlist3

[6, 7, 8, [9, 10], 100]

In [22]:
# insert
#syntax: listobject.insert(index,value)
print(newlist3)
newlist3.insert(10, 1000)
print(newlist3)

[6, 1000, 7, 8, [9, 10], 100]
[6, 1000, 7, 8, [9, 10], 100, 1000]

In [ ]:
#pop
# listobject.pop(index) 
# list object.pop()--> removes last element in the list

In [23]:
print(newlist3)
newlist3.pop(0)
print(newlist3)

[6, 1000, 7, 8, [9, 10], 100, 1000]
[1000, 7, 8, [9, 10], 100, 1000]

In [24]:
newlist3.pop()
print(newlist3)

[1000, 7, 8, [9, 10], 100]

In [ ]:
## remove 
# syntax: listobject.remove(value)

In [34]:
l1 = [10, 20, 30, 10, 20]
l1.remove(10)
l1

[20, 30, 10, 20]

In [35]:
newlist3.remove(6)
newlist3

ValueError: list.remove(x): x not in list

In [36]:
print(l1)
del l1[0], l1[1]
print(l1)

[20, 30, 10, 20]
[30, 20]

In [37]:
l1.pop()
l1

[30]

In [38]:
del l1
print(l1)

NameError: name 'l1' is not defined

In [45]:
# reverse
# syntax: list object.reverse()
newlist3 = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print('Original: ', newlist3)
newlist3.reverse()
print('Reversed: ', newlist3)


## for creating another (reversed)copy of original list
# l1 =list(reversed(newlist3))
# print(l1)

Original:  [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Reversed:  [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [40]:
#index
# returns the position of the element
newlist3.index(80)

2

In [ ]:
print(newlist2)
print(newlist3)

In [46]:
### Apply + , * on list objects
print(newlist3)
print(newlist2)
newlist3 + newlist2

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[4, 5, 6]

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 4, 5, 6]

In [47]:
newlist2 = [10, 20, 30]
newlist2*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [48]:
# sort the list object in ascending order
l1 = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
print(sorted(l1))
print(l1)
l2 = sorted(l1)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1

In [50]:
#ascending order
sorted(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
#descending order
sorted(l1, reverse=True)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
l1.sort()
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
l1.sort(reverse=True)
l1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
# Copy one list from the other list (or) creating a list from existing list by using '=' (or) copy() method
ls1=[1,2,5,2,1,3,2,10]
#create newlist from ls9.

In [2]:
ls2 = ls1
ls3 = ls1.copy()

In [3]:
print(id(ls1))
print(id(ls2))
print(id(ls3))

2248025387200
2248025387200
2248025387584

In [5]:
print(ls1)
print(ls2)
print(ls3)

[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [60]:
ls1[0] = 100
print(ls1)
print(ls2)
print(ls3)

[100, 2, 5, 2, 1, 3, 2, 10]
[100, 2, 5, 2, 1, 3, 2, 10]
[1, 2, 5, 2, 1, 3, 2, 10]

In [6]:
l1 = [1, 2, 3, 4, 5]
# prepare l2 containing squares of elements of l1
# expected output -- > l2 = [1, 4, 9, 16, 25]

l2 = []
for item in l1:
    l2.append(item*item)
print(l2)

[1, 4, 9, 16, 25]

In [ ]:
#List comprehension
# one line expression of for loop

In [ ]:
l1 = [10, 20, 30, 40, 50]

# method 1
for item in l1:
    print(item)
    
print()

# method 2
for idx in range(len(l1)):
    print(l1[idx])

In [ ]:
a=[1,2,3,4]
#list of square of elements of a
#for loop
b = []
for i in a:
    b.append(i**2)
print(b)

In [ ]:
#list comprehension : syntax: [expression for if]
a = [1, 2, 3, 4, 5]
b1 = [i**2 for i in a]
b1

In [ ]:
l1 = [1, 2, 3, 4, 5]
# prepare l2 containing squares of elements of l1 (using list comperhesion)
l2 = [item*item for item in l1]
l2

In [8]:
# prepare a list object consisting of even numbers from existing list
# sample input [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# sample output [2, 4, 6, 8, 10]

# using for loop
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l2 = []
for item in l1:
    if item % 2 == 0:
        l2.append(item)
print(l2)

# using list comperhesion
l2 = [i for i in l1 if i % 2 == 0]
print(l2)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [ ]:
l1 = [100, 20, 40, 60, 35, 73, 98, 200, 22, 61]
# prepare l2 consisting of all those elements from l1 which are greater than 50

l2 = []
for item in l1:
    if item > 50:
        l2.append(item)
print(l2)


l2 = [item for item in l1 if item > 50]
print(l2)

In [ ]:
l1 = [10,20,30,40,50,60,709,80,90, 100]
z = [i for i in l1 if i>50]

z

In [ ]:
cities=['Delhi','Pune','Chennai','Bangalore','Hyd']

In [ ]:
# create a list of elements which has length greater than 6 
# using for loop

big_cities = []
for city in cities:
    if len(city) > 6:
        big_cities.append(city)
print(big_cities)

In [ ]:
# using list comprehension

big_cities = []
big_cities = [i for i in cities if len(i) > 6]
print(big_cities)

In [ ]:
L=[10, 20, 30]
# Add value 5 to each element in the list
L2 = [i + 5 for i in L]
L2

In [ ]:
# Create a list of elements which is greater than 15 in the given list L
L3 = [i for i in L if i > 15]
L3

In [ ]:
# Addition of two lists L1 and L2
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9, 10, 12, 13]
l3 = []

l1_size = len(l1)
l2_size = len(l2)

max_len = max(l1_size, l2_size)

for i in range(len(l1)):
    l3.append(l1[i] + l2[i])
print(l3)


l3 = [l1[i] + l2[i] for i in range(len(l1))]
print(l3)

In [ ]:
l1 = [1,2,3,4,5]
l2 = [1,2,3,4,5]
l3 = [1,2,3,4,5]

collection = [l1,l2,l3]

final_list = []
for i in range(len(l1)):
    num = 0
    for lis in collection:
        num = num + lis[i]
    final_list.append(num)
final_list

In [ ]:
l1 = [1, 2, 3, 4, 5]
l2 = [10, 20, 30]

biggest_list_len = max(len(l1), len(l2))

for l in (l1, l2):
    l.extend([0] * (biggest_list_len - len(l)))

print(l1)
print(l2)

In [ ]:
l1 = [1,2,3]
l1 = l1 + [0]*3
l1

In [ ]:
# using for loop

for x in range(0,len(L1)):
    L3.append(L1[x] + L2[x])
print(L3)

In [ ]:
# using list comprehension

L4 = []
L4 = [L1[x] + L2[x] for x in range(len(L1))]
print(L4)

In [ ]:
## accepting values from user and preparing a list from them

l1 = list()
count = int(input('How many elements into the list: '))
for i in range(count):
    item = int(input('Enter an element: '))
    l1.append(item)
l1

In [ ]:
l1 = [10, 20, 30, 40, 50]
l2 = [1, 2, 3, 4, 5, 6, 7]

if len(l1) < len(l2):
    l1.extend([0]*(len(l2) - len(l1)))
else:
    len(l1) > len(l2)
    l2.extend([0]*(len(l1) - len(l2)))

l3 = [l1[i]+l2[i] for i in range(len(l1))]
l3

### Tuple

- A tuple is a sequence of items
- tuple is created by using () or tuple()
- tuple contains mixed data type
- tuples are immutable
- tuples are iterable

In [9]:
# empty tuple object
t1 = ()
t2 = tuple()
print(type(t1))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [10]:
t3 = (1, 2, 3, 4, 5)

In [11]:
type(t3)

tuple

In [12]:
len(t3)

5

In [18]:
t1 = (10,)
print(type(t1))

<class 'tuple'>

In [19]:
# extract '4' from t3
t3[3]

4

In [20]:
t1 = (1, 2, 3)
t2 = (10, 20, 30)
t3 = t1 + t2
print(t3)

(1, 2, 3, 10, 20, 30)

In [21]:
#for loop
for i in t3:
    print(i)

1
2
3
10
20
30

In [22]:
t1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(t1[1], t1[4])
a = t1[1], t1[4]
print(a)
# print(b)

2 5
(2, 5)

In [23]:
# immutable
t1[0] = 300

TypeError: 'tuple' object does not support item assignment

In [24]:
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [25]:
# delete tuple object 
del t1

In [26]:
# does not exist
t1

NameError: name 't1' is not defined

In [27]:
# tuple with different types of values
t1 = (1, 2, [10, 20, 30], 4, 5, 'abc')
t1[5][:2]

'ab'

In [28]:
t1[2][2] = 300
print(t1)

(1, 2, [10, 20, 300], 4, 5, 'abc')

In [29]:
# converting tuple into list
l1 = list(t1)
print(t1)
print(l1)
print(type(l1))

(1, 2, [10, 20, 300], 4, 5, 'abc')
[1, 2, [10, 20, 300], 4, 5, 'abc']
<class 'list'>

In [ ]:
# converting list into tuple
tup = tuple(l1)
print(l1)
print(tup)
print(type(tup))

In [ ]:
l1[2] = tuple(l1[2])
l1

In [ ]:
tup[2] = tuple(tup[2])

In [40]:
t1 = (1, 2, 3, 4, 5, 1, 1, 1,)
t2 = tuple(reversed(t1))
print(t1)
print(t2)

(1, 2, 3, 4, 5, 1, 1, 1, 'abc')
('abc', 1, 1, 1, 5, 4, 3, 2, 1)

In [34]:
t1.count(1)

4

In [41]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [42]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
sum(t1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
sum(t1) / len(t1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Dictionary


- A collection of unordered set of key:value pairs.

- Create dictionaries by using {} or dict()

- Keys are unique.

- values are accessed by using keys, not by index

- Dictionaries are mutable.

- Dicitonaries are iterables.

In [45]:
# empty dict:
d1 = {}
d2 = dict()
print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

In [56]:
d1 = {'A': 'Apple', 'B':'Ball', 'C':'Cat'}
d1

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [48]:
d1.keys()

dict_keys(['A', 'B', 'C'])

In [49]:
d1.values()

dict_values(['Apple', 'Ball', 'Cat'])

In [50]:
d1.items()

dict_items([('A', 'Apple'), ('B', 'Ball'), ('C', 'Cat')])

In [51]:
d2 = {0:'Zero', 1:'One', 3:'Three'}
d2[0]

'Zero'

In [52]:
# elements can not be accessed with index (dictionary doesn't have objects)
d1[0]

KeyError: 0

In [53]:
# accessing dictionary element with key
d1['A']

'Apple'

In [57]:
# adding new element 
print(d1)
d1['D'] = 'Dog'
print(d1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog'}

In [58]:
# modifying existing element 
print(d1)
d1['D'] = 'Donkey'
print(d1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Dog'}
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'D': 'Donkey'}

In [60]:
# remove an element
d1.pop('D')
d1

KeyError: 'D'

In [61]:
# not possible
d1.pop('Apple')
d1

KeyError: 'Apple'

In [63]:
# just another way
print(d1)
del d1['A']
print(d1)

{'B': 'Ball', 'C': 'Cat'}

KeyError: 'A'

In [64]:
d1.clear()
d1

{}

In [65]:
del d1
d1

NameError: name 'd1' is not defined

In [66]:
d1 = {}
d1.update({1:'Amit'})
d1

{1: 'Amit'}

In [67]:
d1.update({2:'Gopal'})
d1

{1: 'Amit', 2: 'Gopal'}

In [68]:
d1.update({1:'Ajay'})
d1

{1: 'Ajay', 2: 'Gopal'}

In [69]:
d2 = {1:'Amit', 3:'Rohan', 4:'Seema', 6:'Ajit'}
d1.update(d2)
d1

{1: 'Amit', 2: 'Gopal', 3: 'Rohan', 4: 'Seema', 6: 'Ajit'}

In [71]:
d4 = {1: [1, 2, [5, 6, 7]], 2: ('a', 'b', 'c') }

In [73]:
#extract [5,6,7] from d4

d4[1][2]

[5, 6, 7]

In [74]:
#extract 6
d4[1][2][1]

6

In [75]:
#extract 'b'

d4 = {1: [1, 2, [5, 6, 7]], 2: ('a', 'b', 'c') }
d4[2][1]

'b'

In [78]:
d5={'one':{'el_one':[3,4,6,{'el_two':'z'}]}}

# extract 'z'

d5['one']['el_one'][3]['el_two']

'z'

In [79]:
d6={'new':[9,4,5,['split','merge',10]],
    'old':('s',17,0),
    'mid':{'ram':4,'ravi':8}}

#Extract 'merge'

d6['new'][3][1]

'merge'

In [81]:
#extract 8

d6['mid']['ravi']

8

In [87]:
# iterate dictionary (for loop)

d1 = {'A': 'Apple', 'B':'Ball', 'C':'Cat'}
for var in d1.items():
    print(d1[var[0]])

Apple
Ball
Cat

In [88]:
# iterate dictionary 

for k, val in d1.items():
    print('key is: ', k)
    print('value is: ', val)
    print()

key is:  A
value is:  Apple

key is:  B
value is:  Ball

key is:  C
value is:  Cat

In [90]:
d1 = {'Hyd': 10500, 'Blr': 5600, 'Mum': 8700,
      'Kol': 3500, 'Pun':2000, 'Del':4500}

# print all those cities where employee count is greater than 5000


# for city, emp_count in d1.items():
#     if emp_count > 5000:
#         print(city)

cities = [key for key, value in d1.items() if value > 5000]
cities = [key for key in d1.keys() if d1[key] > 5000]
print(cities)

Hyd
Blr
Mum

In [ ]:
# iterate dictionary 
for item in d1.items():
    print(item[0])
    print(item[1])
    print()

In [ ]:
# iterate dictionary on keys
for key in d1.keys():
    print(key)

In [ ]:
# iterate dictionary on values
for val in d1.values():
    print(val)

In [91]:
d1 = {'A': 'Apple', 'B':'Ball', 'C':'Cat'}
print(d1)

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat'}

In [92]:
# if key is not present then adds key: value pair in dictionary and returns the value
x = d1.setdefault('Z', 'Zebra')
print(x)
print(d1)

Zebra
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra'}

In [93]:
# if key is present then simply returns the Corresponding value (second arg is of no any use)
x = d1.setdefault('X')
print(x)
print(d1)

None
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra', 'X': None}

In [94]:
# if key is present then simply returns the Corresponding value (second arg is of no any use)
x = d1.setdefault('A', 'Ajay')
print(x)
print(d1)

Apple
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra', 'X': None}

In [95]:
# if key is present then returns the Corresponding value
x = d1.setdefault('C')
print(x)
print(d1)

Cat
{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra', 'X': None}

In [ ]:
# if key is not present then returns None
x = d1.setdefault('E')
print(x)
print(d1)

In [96]:
val = d1.get('A', 'AMIT')
print(val)
d1

Apple

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra', 'X': None}

In [97]:
val = d1.get('P', 'Pravin')
print(val)

Pravin

In [98]:
d1

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra', 'X': None}

In [100]:
val = d1.get('P')
print(val)
d1

None

{'A': 'Apple', 'B': 'Ball', 'C': 'Cat', 'Z': 'Zebra', 'X': None}

In [102]:
if d1.get('P', 'hi'):
    print('Present')
else:
    print('not')

not

In [113]:
d1 = {}

In [114]:
d1[1] = 'one'
d1

{1: 'one'}

In [115]:
d1[2] = 'two'
d1

{1: 'one', 2: 'two'}

In [116]:
d1[3] = 'three'
d1

{1: 'one', 2: 'two', 3: 'three'}

In [117]:
d1.pop() # not possible

TypeError: pop expected at least 1 argument, got 0

In [118]:
d1

{1: 'one', 2: 'two', 3: 'three'}

In [119]:
d1.pop(1)
d1

{2: 'two', 3: 'three'}

In [120]:
print(d1)
val = d1.popitem()
print(val)
print(d1)

{2: 'two', 3: 'three'}
(3, 'three')
{2: 'two'}

In [ ]:
d1[1] = 'ONE'
d1

In [121]:
print(d1)
val = d1.popitem()
print(val)
print(d1)

{2: 'two'}
(2, 'two')
{}

In [122]:
d1.clear()

In [123]:
d1

{}

In [124]:
del d1

In [125]:
d1

NameError: name 'd1' is not defined

In [128]:
emp_list = ['Abhay', 'Bob', 'Chetna', 'Peter']
sal_list = [150000, 10000, 25000, 30000]
d1 = dict(zip(emp_list, sal_list))
d1

{'Abhay': 150000, 'Bob': 10000, 'Chetna': 25000, 'Peter': 30000}

In [135]:
l1 = [10, -20, 30, 50, -100, 100, 40, 25, 5]
# expected output [5, 10, -20, 25, 30, 40, 50, -100, 100]

l1.sort(key=abs)
l1

[5, 10, -20, 25, 30, 40, 50, -100, 100]

In [130]:
max(d1, key=d1.get)

'Abhay'


### Sets


- Unordered sequence of elements

- create set objects by using {val1, val2. val3.....} or set()

- sets are mutable

In [136]:
# create empty set
s1 = set()
print(type(s1))

<class 'set'>

In [139]:
s3={"Monday","Tuesday","Wednesday","Thursday","Friday"}
s3

{'Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

In [ ]:
s4=set(["Monday","Tuesday","Wednesday","Thursday","Friday"])
s4

In [140]:
s5 = set(1, 2, 3, 4, 5)

TypeError: set expected at most 1 argument, got 5

In [141]:
s5 = set((1, 2, 3, 4, 5))
s5

{1, 2, 3, 4, 5}

In [142]:
s5 = set([1, 2, 3, 4, 5])
s5

{1, 2, 3, 4, 5}

In [143]:
s5 = set([1, 2, 3, 4, 5, 1, 2, 3])
print(s5)
print(len(s5))

{1, 2, 3, 4, 5}
5

In [144]:
s5 = {1, 2, 3, 4, 5}
s5

{1, 2, 3, 4, 5}

In [145]:
s5 = set([1, 1, 1, 2, 3, 4, 3, 3, 5, 4, 5])
print(len(s5))
s5

5

{1, 2, 3, 4, 5}

In [146]:
l1 = [1, 1, 1, 2, 3, 4, 3, 3, 5, 4, 5]
l1 = list(set(l1))
l1

[1, 2, 3, 4, 5]

In [147]:
# add element in the set s5 (one element at a time)
s5.add(10)
s5

{1, 2, 3, 4, 5, 10}

In [148]:
s5.add(10)
s5

{1, 2, 3, 4, 5, 10}

In [149]:
s5.add(10, 20) # not allowed

TypeError: set.add() takes exactly one argument (2 given)

In [150]:
#update (for adding militple components at a time)
s5.update(['one', 'two', 'three'])
s5

{1, 10, 2, 3, 4, 5, 'one', 'three', 'two'}

In [156]:
# removing the items
x = s5.pop()
print(x)
print(s5)

3
{4, 5, 'one', 10, 'two', 'three'}

In [158]:
x = s5.remove(5)
print(s5)
print(x)

KeyError: 5

In [159]:
# error
s5.remove('ten')
s5

KeyError: 'ten'

In [ ]:
s5

In [160]:
x = s5.discard('ten')
print(x)
s5

None

{10, 4, 'one', 'three', 'two'}

In [161]:
x = s5.discard('two')
print(x)
s5

None

{10, 4, 'one', 'three'}

In [162]:
len(s5)

4

In [163]:
#error
s5[0]

TypeError: 'set' object is not subscriptable

In [164]:
s5.clear()
print(s5)

set()

In [165]:
s5 = {1, 2, 3, 4, 5} 
l1 = list(s5)
print(l1)
print(type(l1))

[1, 2, 3, 4, 5]
<class 'list'>

In [166]:
t1 = tuple(s5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Set operations
- Union

- Intersection

- Difference

- Symmetric difference

In [167]:
#union
Days1={'Monday',"Tuesday","Wednesday","Thursday","Sunday"}
Days2={"Friday","Saturday","Sunday"}
Days3 = Days1.union(Days2)
print(Days1)
print(Days2)
print(Days3)

{'Tuesday', 'Wednesday', 'Thursday', 'Sunday', 'Monday'}
{'Friday', 'Sunday', 'Saturday'}
{'Tuesday', 'Friday', 'Wednesday', 'Saturday', 'Thursday', 'Sunday', 'Monday'}

In [168]:
#intersection
Days4 = Days1.intersection(Days2)
Days4

{'Sunday'}

In [169]:
# difference
A={10,20,30,40,50}
B={100,30,50,40,60}

In [170]:
C = A.difference(B) # A - B
print(C)

{10, 20}

In [171]:
D = B.difference(A)  # B - A
print(D)

{100, 60}

In [172]:
# Symmetric differnce
D = A.symmetric_difference(B)  # (A - B) + (B - A) 
D

{10, 20, 60, 100}

In [173]:
# for loop
for i in A:
    print(i)

50
20
40
10
30

In [178]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.setdefault('A')
print(val)
print(d1)

AAA
{'A': 'AAA', 'B': 'BBB'}

In [179]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.setdefault('A', 'Apple')
print(val)
print(d1)

AAA
{'A': 'AAA', 'B': 'BBB'}

In [181]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.setdefault('C')
print(val)
print(d1)

None
{'A': 'AAA', 'B': 'BBB', 'C': None}

In [182]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.setdefault('D', 'Dog')
print(val)
print(d1)

Dog
{'A': 'AAA', 'B': 'BBB', 'D': 'Dog'}

In [183]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.get('A')
print(val)

AAA

In [184]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.get('C')
print(val)

None

In [187]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.get('C', 'Unknown')
print(val)

Unknown

In [188]:
d1 = {'A':'AAA', 'B':'BBB'}
val = d1.get('A', 'Unknown')
print(val)

AAA

--------------------------------------------------End--------------------------------------------------------------