In [2]:
import re

str1 = '''Hi, welcome to python programming, 
python is object oriented programming language.'''

## match()

In [3]:
# finds the pattern in the beginning

print(re.match('Hi, ', str1))

<re.Match object; span=(0, 4), match='Hi, '>

In [4]:
# case sensitivity

print(re.match('hi', str1))

None

In [5]:
# can't not identify the pattern if it's not present in the beginning

print(re.match('python', str1))

None

## search()

In [6]:
# can find the pattern anywhere in the string, but finds only first instance

print(re.search('python', str1))

<re.Match object; span=(15, 21), match='python'>

In [7]:
# case sensitive

print(re.search('Python', str1))

None

## findall()

In [8]:
# case sensitive

print(re.findall('python', str1))

['python', 'python']

## compile() and finditer()

In [9]:
pattern = re.compile('python')
print(type(pattern))

matches = pattern.finditer(str1)
print(type(matches))

for match in matches:
    print(match)

<class 're.Pattern'>
<class 'callable_iterator'>
<re.Match object; span=(15, 21), match='python'>
<re.Match object; span=(36, 42), match='python'>

## split()

In [10]:
str1 = "Hi, welcome to python 3.0 programming, python is  100 object oriented programming language."
re.split(' ', str1)

['Hi,',
 'welcome',
 'to',
 'python',
 '3.0',
 'programming,',
 'python',
 'is',
 '',
 '100',
 'object',
 'oriented',
 'programming',
 'language.']

In [11]:
str1 = "Hi, welcome to python 3.0 programming, python is  100 object oriented programming language."
re.split('\d', str1)

['Hi, welcome to python ',
 '.',
 ' programming, python is  ',
 '',
 '',
 ' object oriented programming language.']

## Special Characters in Pattern Matching

In [12]:
# '.' matches any character
str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('.', str1))

['R', 'a', 'j', 'e', 's', 'h', ' ', 'i', 's', ' ', 'a', ' ', 'm', 'a', 'n', 'a', 'g', 'e', 'r', ',', ' ', 'h', 'i', 's', ' ', 'I', 'D', ' ', 'i', 's', ' ', '1', '0', '0', '1', ',', ' ', 'a', 'n', 'd', ' ', 'h', 'e', ' ', 'g', 'e', 't', 's', ' ', 'a', ' ', 's', 'a', 'l', 'a', 'r', 'y', ' ', '$', '5', '0', '0', '0', '.', '.', '.', '!', '!']

In [13]:
# \d matches a single digit

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\d', str1))

['1', '0', '0', '1', '5', '0', '0', '0']

In [14]:
# \d matches a sequence of multiple digits

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\d+', str1))

['1001', '5000']

In [15]:
# \D matches all non-digit characters

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\D', str1))

['R', 'a', 'j', 'e', 's', 'h', ' ', 'i', 's', ' ', 'a', ' ', 'm', 'a', 'n', 'a', 'g', 'e', 'r', ',', ' ', 'h', 'i', 's', ' ', 'I', 'D', ' ', 'i', 's', ' ', ',', ' ', 'a', 'n', 'd', ' ', 'h', 'e', ' ', 'g', 'e', 't', 's', ' ', 'a', ' ', 's', 'a', 'l', 'a', 'r', 'y', ' ', '$', '.', '.', '.', '!', '!']

In [16]:
# \D matches all non-digit characters

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\D+', str1))

['Rajesh is a manager, his ID is ', ', and he gets a salary $', '...!!']

In [17]:
# \w+ matches all alphabates and digits (skips special symbols and blank spaces)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\w', str1))

['R', 'a', 'j', 'e', 's', 'h', 'i', 's', 'a', 'm', 'a', 'n', 'a', 'g', 'e', 'r', 'h', 'i', 's', 'I', 'D', 'i', 's', '1', '0', '0', '1', 'a', 'n', 'd', 'h', 'e', 'g', 'e', 't', 's', 'a', 's', 'a', 'l', 'a', 'r', 'y', '5', '0', '0', '0']

In [18]:
# \w+ matches all words (skips special symbols and blank spaces)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\w+', str1))

['Rajesh', 'is', 'a', 'manager', 'his', 'ID', 'is', '1001', 'and', 'he', 'gets', 'a', 'salary', '5000']

In [19]:
# \W+ matches all non-words (spaces and special symbols)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\W', str1))

[' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', ' ', '$', '.', '.', '.', '!', '!']

In [20]:
# \s matches all spaces

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\s', str1))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [21]:
# \S matches all non-spaces (A-Z, a-z, 0-9, all special symbols)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\S', str1))

['R', 'a', 'j', 'e', 's', 'h', 'i', 's', 'a', 'm', 'a', 'n', 'a', 'g', 'e', 'r', ',', 'h', 'i', 's', 'I', 'D', 'i', 's', '1', '0', '0', '1', ',', 'a', 'n', 'd', 'h', 'e', 'g', 'e', 't', 's', 'a', 's', 'a', 'l', 'a', 'r', 'y', '$', '5', '0', '0', '0', '.', '.', '.', '!', '!']

In [22]:
# \S+ matches a set of all non-spaces (A-Z, a-z, 0-9, all special symbols)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('\S+', str1))

['Rajesh', 'is', 'a', 'manager,', 'his', 'ID', 'is', '1001,', 'and', 'he', 'gets', 'a', 'salary', '$5000...!!']

In [26]:
# \b matches a pattern in the beginning of the word

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'\ba', str1))

['a', 'a', 'a']

In [27]:
# \B matches a pattern except in the beginning of the word

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'\Bi', str1))

['i']

In [31]:
# ^ matches a pattern in the beginning of the string

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall('^R.j', str1))

['Raj']

In [32]:
# ^ matches a pattern in the beginning of the string (case)
str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'^rajesh', str1))

[]

In [34]:
# $ matches a pattern in the end of the string

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'!!$', str1))

['!!']

In [35]:
# $ matches a pattern in the end of the string (wrong pattern)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'5000$', str1))

[]

In [36]:
# $ matches a pattern in the end of the string (without escape character)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'$5000...!!$', str1))

[]

In [37]:
# $ matches a pattern in the end of the string (with escape character)

str1 = 'Rajesh is a manager, his ID is 1001, and he gets a salary $5000...!!'
print(re.findall(r'\$5000...!!$', str1))

['$5000...!!']

In [ ]:
# count the words ending with one or more digits

In [ ]:
# create new string by removing all the special symbols from the
# original string

In [ ]:
# extract all the mobile numbers from the string

In [ ]:
# remove all extra spaces from the string and retrun updated string object