In [ ]:
# 1. insert 10, 20, and 100 in the below list and print the sorted list
l1 = [1, 24, 36, 50, 60]

In [ ]:
# 2. merge below given tuples into a single list, also discard the duplicate elements 
    #and sort them in ascending order
t1 = (10, 20, 30, 40, 50, 60, 70)
t2 = (50, 60, 70, 80, 90, 100)

In [ ]:
# 3. retrieve 5 from the below list
l1 = [1, 2, 3, 4, [1, 2, 3, [9, 5]]]

In [ ]:
# 4. convert a tuple into list and print a list

In [ ]:
# 5. create a new tuple by index-wise subtraction of tuples
# sample input: 
# t1 = (10, 20, 30, 40, 50)
# t2 = (1, 2, 3, 4, 5)

# sample output
# t3 = (9, 18, 27, 36, 45)

In [ ]:
# 6. retrieve 77 from below dictionary
d1 = {1:[10, 20, {'A': 11, 'B':20, 'C':77}]}

In [ ]:
# 7. consider below list and fetch [10, 7, 4, 1] and prepare another list 

l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
# 8. print the strings which has a letter 'a' or 'A' in it (without using loop)
l1 = ['Amit', 'Baban', 'Dishi', 'Lily', 'John', 'Akshit', 'Priyanka']

In [ ]:
# 9. print the keys of below dictionary if corresponding value is 5000 or above  
d1 = {1:1000, 2:2000, 3:3000, 4:4000, 5:5000, 6:6000, 7:7000}

In [10]:
# 10. # accept the values from user and prepare a dictionary as shown below:
# {10:'IT', 20:'Account', 30:'consulting', 40: Audit, 50:'Tax'}

In [2]:
## 11. Accept a string from user and calculate the frequency of characters

In [ ]:
## 12. Write a function for taking a list an parameter and return
#  a value occuring with maximum frequency as well as frequency

In [ ]:
## 13. consider a list given below:

l1 = [100, 1000, [10, 20, 30, [50, 60], [70, 80], 15, 25], (90, 200, 500), 2000]

# retrieve 20


#retrieve [50, 60]


# retrieve 25


# retrieve 200


# retrieve 80

In [ ]:
# 14.  consider the below given dictionary:

d1 = {'a': [1,2,3], 'b':{1:'One', 10:'Ten'}, 
      'c':[10, 20, 30, 40, 50], 
      'd':{'e':{100:('a', 'c', 'f')}}}


# retrieve 'a'


# retrieve [20, 30]


# retrieve 'Ten'


# retrive 3