# Data Manipulation tasks:
    
- Filtering data

- Sorting data

- Group By aggregations

- Adding new columns

- Merging dataframes

- Treating Missing Values

- Pivot Table

In [ ]:
#import packages
?

In [ ]:
#check the working directory
os.getcwd()

In [ ]:
# load the data set 'stores.csv' (if file is not in currect wroking directory, mention full path)
df = ?

In [ ]:
#Number of observations in the data
?

In [ ]:
#Information about the columns/variables in a data set
?

In [ ]:
#First 3 observations from the dataset
?

In [ ]:
#last 2 observations from the data set
?

In [ ]:
#Count the number of missing values
? # column wise
? # row wise

In [ ]:
#Count the number of missing values
? # row wise

In [ ]:
#Summary statistics for numerical variables
?

In [ ]:
# summary of numerical and non numerical columns 
?

In [ ]:
# list the columns of pandas dataframe
?

In [ ]:
# Finding out how many cities are the orders being delivered to
# We have to print the contents of the city column 

# df['City'].value_counts()
?

In [ ]:
#Unique levels in the Segment variable

# df['Segment'].value_counts()

?

# Filter

##### Filter the data by segments are consumer

In [ ]:
#logical indexation [data[logical condition]]
#query method [data.query('logical condition')]

In [ ]:
#logical indexation
df1 = ?
print(df1.shape)
?

In [ ]:
#query method
?

In [ ]:
#Multiple conditions
#How many orders were placed for region south and for segment consumer
#data[(l1)&(l2)&(l3)]
#data[(l1)|(l2)]
?
df2.shape

In [ ]:
#data.query('l1 & l2')
?

In [ ]:
?

# Sorting

In [ ]:
#sort_values() method to sort the values
#sort data by profit
?

In [ ]:
#descending order
?

In [ ]:
# Which are the most valuable customers in South Region by Sales?
# df1 = (df[df['Region' == 'South']])
#df1.shape
# df1.sort_values('Sales', ascending=False).head(3)
?

In [ ]:
#sort by two variables
?

# Group By
# Groupby task(split the data into groups based on some criteria)

In [ ]:
# I need the sum of the sale amount for each state 

?
#store.groupby('State').reset_index()
state_group

#agg method

In [ ]:
sales_sum = ?

In [ ]:
sales_sum.head()

In [ ]:
#Filter the data by East Region, find the maximum sales by State wise
?

In [ ]:
# What is the average quantity sold by region?
?

In [ ]:
#Find out the top 5 states in terms of sale amount 
?

# or

?

# Renaming the columns

In [ ]:
df2 = df.rename(?)
df2.columns

In [ ]:
#Rename Sales as "Average Sales"

# Adding new columns

In [ ]:
## Adding new columns
# Comparing Sales per order with the average sales 
?
?

In [ ]:
#Create Cost price variable

# Apply method in a data frame

In [ ]:
#Apply method
# What is the Total Sales, Quantity, Discount, Profit .
def get_sum(x):
    return np.sum(x)


df[['Sales', 'Quantity', 'Discount', 'Profit']]?

In [ ]:
def new1(x):
    if (x['Region'] == 'South') | (x['Ship Mode'] == 'Second Class'):
        return 'High'
    else:
        return 'Low'
df['new1'] = ?

In [ ]:
df.head(2)

# map function

In [ ]:
def flag(x):
    if x>3000:
        return 'High'
    else:
        return 'Low'
df['salesnew'] = ?
df.head(2)

# Combining data frames using concat function

In [ ]:
data1=pd.read_csv("Sales_Sep.csv")
data2=pd.read_csv("Sales_Oct.csv")

In [ ]:
print(data1.shape)
data1.head(2)

In [ ]:
print(data2.shape)
data2.head(2)

In [ ]:
# Concatenate 
row_concat = ?
print(row_concat.shape)
row_concat.head(2)

In [ ]:
#export a file to working directory

# Combining data frames using merge function

In [ ]:
## Merging DataFrames
df1=pd.DataFrame({'CustomerID':[1,2,3,4,5,6],'Product':['Television','Television','Television',
                                                        'Earphones','Earphones','Earphones']})
df2=pd.DataFrame({'CustomerID':[2,4,6],'State':['Texas','Texas','Seattle']})

In [ ]:
#outer join:Every records will appear
?

In [ ]:
#inner join: only matcing records will appear
?

In [ ]:
?
#left merge:
#Data frame df1 will be keep as it as and on the basis of common variable merge dataframe df2

In [ ]:
#right join: df2 will be keep as it is and on the basis of common variable merge data frame df1
?

In [ ]:
#drop a column
?

# Handling Character data using dummies

In [ ]:
dat = pd.read_csv('medal.csv')
print(dat.shape)
dat.head(2)

In [ ]:
dummies = ?
dummies.head(2)

# Handling missing values

In [ ]:
# Counting the number of missing values in each column

df = pd.read_csv('credit_history.csv', ?)
# If there are any blank spaces or keyword Missing in the 
#source CSV file, they will be replaced with NAN

In [ ]:
?

In [ ]:
# calculating percentage of missing values
?

In [ ]:
#summary statistics for 'Year' variable
df['years'].describe()

In [ ]:
#Replacing missing values
df['years'] = ?
df.isnull().sum()

In [ ]:
# guidlines

# < 5% : remove only the missing observations
# 5% <x < 30% : Do imputation
                # continuous variables : Mean/Median (skewed data: Median)
                # categorical variables : Mode
# > 30% : Remove the variable.

### Pivot table
pandas.pivot(index, columns, values) function produces pivot table based on 3 columns of the DataFrame.

Uses unique values from index / columns and fills with values.

Python Pandas function pivot_table help us with the summarization and conversion of dataframe in long form to dataframe in wide form, in a variety of complex scenarios.

In [ ]:
df = pd.DataFrame({'First Name': ['Aryan', 'Rohan', 'Riya', 'Yash', 'Siddhant', ],
                   'Last Name': ['Singh', 'Agarwal', 'Shah', 'Bhatia', 'Khanna'],
                   'Type': ['Full-time Employee', 'Intern', 'Full-time Employee', 
                            'Part-time Employee', 'Full-time Employee'],
                   'Department': ['Administration', 'Technical', 'Administration', 
                                  'Technical', 'Management'],
                   'YoE': [2, 3, 5, 7, 6],
                   'Salary': [20000, 5000, 10000, 10000, 20000]})

df

Use pd.pivot_table and specify the data, index, columns, aggfunc and `values` parameters.

In [ ]:
# create pivot table of average salary for employees based on their Department and Job type
out = pd.pivot_table(data=df, index=['Type'], columns=['Department'],
                     values='Salary', aggfunc='mean')
out

If column parameter is not specified, it will aggregate based on the index.

In [ ]:
# Pivot table with multiple aggfuncs
out = pd.pivot_table(data=df, index=['Type'], columns=['Department'], 
                     values='Salary', aggfunc=['sum', 'mean'])
out

More use cases of the pivot_table function could be used

https://pbpython.com/pandas-pivot-table-explained.html