## Reduce function

In [2]:
# reduce is a part of of functoools in python 3.x

from functools import reduce

In [3]:
# getting addition of list items through reduce

numbers = [3, 4, 6, 9, 34, 12]

def summation(num1, num2):    
    return num1 + num2

result = reduce(summation, numbers)
print(result)

68

In [6]:
# optionally we can pass third argument as initial value

numbers = [3, 4, 6, 9, 34, 12]

def summation(num1, num2):    
    return num1 + num2

result = reduce(summation, numbers, 100)
print(result)

228

In [9]:
numbers = []

def summation(num1, num2):    
    return num1 + num2 

result = reduce(summation, numbers, 0)
print(result)

0

In [6]:
# find min value from a list

numbers = [3, 4, 6, 9, 34, 12]

def find_lowest(num1, num2):    
    if num1 < num2:
        return num1
    else:
        return num2

result = reduce(find_lowest, numbers)
print(result)

3

In [7]:
# find maximum value from a list

numbers = [3, 4, 6, 9, 34, 12]

def find_greatest(num1, num2):    
    if num1 > num2:
        return num1
    else:
        return num2

result = reduce(find_greatest, numbers)
print(result)

34

In [8]:
## empty iterable object (this will give an error)

numbers = []

def find_lowest(num1, num2):    
    return min(num1, num2)

result = reduce(find_lowest, numbers)
print(result)

TypeError: reduce() of empty sequence with no initial value

In [11]:
## handling empty iterable object

numbers = []

def find_lowest(num1, num2): 
    print('updated')
    return min(num1, num2)

result = reduce(find_lowest, numbers, 0)
print(result)

0

In [ ]:
# Assignment 1

# Implement a logic to check if all the numbers in the list are one or not

# sample input 1 : l1 = [1, 1, 1, 1, 1]
# sample output 1 : True  

# sample input 2 : l2 = [1, 1, 1, 1, 1, 0]
# sample output 2 : False

In [ ]:
func_copy = find_lowest

In [ ]:
func_copy(10, 20)

In [ ]:
a = 10
print(type(func_copy))

## Lambda Function

A lambda function is a small function containing a single expression. Lambda functions can also act as anonymous functions where they donâ€™t require any name

In [1]:
y = lambda z:z**2
print(y(2))
print(type(y))

4
<class 'function'>

In [7]:
x = lambda a, b=50: a + b
print(x(a=60, b = 20))

80
300

In [9]:
l1 = lambda list_obj: max(list_obj)
l1([1,2,3,4,5])

5

In [10]:
# read csv fle into dataframe
import pandas as pd

df = pd.read_csv('medal.csv')

In [11]:
# view sample data
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [12]:
# apply lambda function to pandas dataframe
df['gender']=df['Gender'].apply(lambda x: 0 if x == 'Men' else 1)

In [13]:
# see the effect
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal,gender
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,0
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,0
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,0
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,0
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver,0

In [ ]:
# write a lambda function to take one number and print if it is even or odd

In [ ]:
# write a lambda function to take one parameter and return it's type

## Decorators

In [22]:
# define functionality for increamenting and decreamenting a value
def incr(num):
    return num + 1

def decr(num):
    return num - 1

In [23]:
# define decorator function (passing another function as an argument to this)
def operate(func, val):
    result = func(val)
    return result

In [24]:
# call decorator function
operate(incr, 10)

11

In [25]:
operate(decr, 15)

14

## Generator Functions

In [14]:
def simpleGeneratorFun():
    yield 1            
    yield 2            
    yield 3

In [15]:
simpleGeneratorFun()

In [16]:
def simpleGeneratorFun():
    yield 1            
    yield 2            
    yield 3

In [28]:
# Driver code to check above generator function

for value in simpleGeneratorFun(): 
    print(value)

1
2
3

In [17]:
y=simpleGeneratorFun()
next(y)

1

In [18]:
next(y)

2

In [19]:
next(y)

3

In [20]:
next(y)

StopIteration:

In [23]:
x=simpleGeneratorFun()
print(x)
print(type(x))
print(list(x))

<generator object simpleGeneratorFun at 0x000002100CF903C0>
<class 'generator'>
[1, 2, 3]

In [24]:
print(list(x))

[]

In [30]:
def mygenerator():
    print('First item')
    yield 10

#     return

    print('Second item')
    yield 20

    print('Last item')
    yield 30

In [31]:
new1=mygenerator()
next(new1)

First item

10

In [32]:
next(new1)

Second item

20

In [33]:
y=mygenerator()
print(list(y))

First item
Second item
Last item
[10, 20, 30]

In [43]:
#Use For Loop with Generator Function
def get_sequence_upto(x):
    for i in range(1, x):
        yield i

In [44]:
seq = get_sequence_upto(10) 
next(seq)

1

In [36]:
next(seq)

2

In [37]:
next(seq)

3

In [38]:
next(seq)

4

In [45]:
list(seq)

[2, 3, 4, 5, 6, 7, 8, 9]