## Python and MySQL Database Connectivity

In [1]:
# install library

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\dbhabad\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\dbhabad\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)

In [2]:
# import the required package

import mysql.connector

In [4]:
connection = mysql.connector.connect(host='localhost', 
                                     database='sample_db', 
                                     user='dnyanesh', 
                                     password='Pass123#$')

In [5]:
cursor = connection.cursor()
cursor.execute("select database();")
record = cursor.fetchone()
print("You're connected to database: ", record)

You're connected to database:  ('sample_db',)

In [6]:
# creating connection and executing sample query

try:
    connection = mysql.connector.connect(host='localhost',
                                         database='sample_db',
                                         user='dnyanesh',
                                         password='Pass123#$')
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Exception as e:
    print("Error while connecting to MySQL", e)
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL Server version  8.0.31
You're connected to database:  ('sample_db',)
MySQL connection is closed

In [7]:
# creating database connection object and cursor object to operate on database  

connection = mysql.connector.connect(host='127.0.0.1', database='sample_db',
                                     user='dnyanesh', password='Pass123#$')
cursor = connection.cursor()

# connection.close()
# cursor.close()

In [8]:
# creating table on MySQL database server

query_str = "create table dept(dept_id int, dname varchar(25), 
mgr varchar(20));"

cursor = connection.cursor()
cursor.execute(query_str)
print("Dept Table created successfully ")

Dept Table created successfully

In [11]:
# inserting data into MySQL table

query_str1 = "insert into dept values(10, 'IT', 'Anil');"
query_str2 = "insert into dept values(20, 'Account', 'Ashwin');"
query_str3 = "insert into dept values(30, 'Audit', 'Sanjiv');"

cursor = connection.cursor()
cursor.execute(query_str1)
cursor.execute(query_str2)
# connection.commit()
cursor.execute(query_str3)
connection.commit()

# cursor.close()
# connection.close()
print("Records inserted successfully ")

Records inserted successfully

In [12]:
# retrieve data from MySQL table

query_str = "select * from dept;"

cursor = connection.cursor()
cursor.execute(query_str)
data = cursor.fetchall()

print("Number of rows fetched: ", cursor.rowcount)

print(type(data))
print(data)
for row in data:
    print(row)
#     print(type(row))

    
# accessing individual data values

Number of rows fetched:  3
<class 'list'>
[(10, 'IT', 'Anil'), (20, 'Account', 'Ashwin'), (30, 'Audit', 'Sanjiv')]
(10, 'IT', 'Anil')
(20, 'Account', 'Ashwin')
(30, 'Audit', 'Sanjiv')

In [13]:
import pandas as pd
df = pd.DataFrame(data, columns=['dept_id', 'dname', 'mgr'])
df

   dept_id    dname     mgr
0       10       IT    Anil
1       20  Account  Ashwin
2       30    Audit  Sanjiv

In [ ]:
tup1 = (20,)
type(tup1)

In [ ]:
# parameterized query

dno = input('Enter a dept number: ')

query_str = "select * from dept where dept_id = %s;"

cursor = connection.cursor()
cursor.execute(query_str, (dno,))
data = cursor.fetchall()

for row in data:
    print(row)

In [ ]:
# update value in MySQL table

query_str = "Update dept set mgr = 'Akshit' where dept_id = 10"
cursor = connection.cursor()

cursor.execute(query_str)
connection.commit()
print("Record Updated successfully ")

In [ ]:
# update value in MySQL table using python variable

dept_id = input('Enter a dept no for updating manager info: ')
new_mgr = input('Enter new Manager name: ')
query_str = "Update dept set mgr = %s where dept_id = %s"

cursor = connection.cursor()

cursor.execute(query_str, (new_mgr, dept_id))
connection.commit()
print("Record Updated successfully ")

In [ ]:
# update multiple entries

query_str = "Update dept set dname = %s where dname = %s;"
update_info = [('IT Dept', 'IT'), ( 'Account Dept', 'Account'), ('Audit Dept', 'Audit')]
cursor = connection.cursor()

cursor.executemany(query_str, update_info)
connection.commit()
print("Records Updated successfully ")

In [ ]:
# delete record MySQL table

query_str = "delete from dept where dept_id = 10"

cursor = connection.cursor()

cursor.execute(query_str)
connection.commit()
print("Record Deleted successfully ")

In [ ]:
# delete record MySQL table using python variable

dept_id = input('Enter a dept no to delete from a table: ')

query_str = "delete from dept where dept_id = %s"

cursor = connection.cursor()

cursor.execute(query_str, (dept_id,))
connection.commit()
print("Record Deleted successfully ")

In [ ]:
# at the end close the datbase connection and cursor

cursor.close()
print('Cursor closed successfully')

connection.close()
print('Database connection closed successfully')